@model TouristInformation.Models.Country

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły</h1>

<div>
    <h4>Kraju</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
             <label>Nazwa</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            <label>Stolica</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Capital)
        </dd>
        <dt class="col-sm-2">
            <label>Język</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt class="col-sm-2">
            <label>Populacja</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Population)
        </dd>
        <dt class="col-sm-2">
            <label>Opis</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            <label>Waluta</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt class="col-sm-2">
             <label>Kontynent</label>
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Continent.Name)
        </dd>
    </dl>
    
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a> |
    <a asp-action="Index">Powrót do listy</a>
</div>
