@model IEnumerable<TouristInformation.Models.Country>

@{
    ViewData["Title"] = "Index";
}

<p>
    <a asp-action="Create">Dodaj nowy kraj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label>Nazwa</label>
            </th>
            <th>
               <label>Stolica</label>
            </th>
            <th>
               <label>Język</label>
            </th>
            <th>
               <label>Populacja</label>
            </th>
            <th>
                <label>Opis</label>
            </th>
            <th>
                <label>Waluta</label>
            </th>
            <th>
                <label>Kontynent</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capital)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Population)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Continent.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
