@model IEnumerable<TouristInformation.Models.Hotel>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create">Dodaj nowy hotel</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label>Nazwa</label>
            </th>
            <th>
                 <label>Cena</label>
            </th>
            <th>
                 <label>Gwiazdki</label>
            </th>
            <th>
                 <label>Opis</label>
            </th>
            <th>
                 <label>Miasto</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stars)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Oceń</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
