@model IEnumerable<TouristInformation.Models.HotelRating>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create">Dodaj nową ocene dla hotelu</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <label>Id Użytkownika</label>
            </th>
            <th>
                <label>Komentarz</label>
            </th>
            <th>
                <label>Ocena</label>
            </th>
            <th>
                <label>Hotel</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hotel.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edytuj</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
