@model TouristInformation.Models.City

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>City</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Population)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Population)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country.Capital)
        </dd>
    </dl>

    <strong>Atrakcje</strong>
    <br />

   
    
        
            <tr>    

            <a asp-action="Index">@Model.Attractions.FirstOrDefault(e=>e.CityId == Model.Id).Name</a> 
            <td> </td>
            <br />
            </tr>
    
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
