@model IEnumerable<TouristInformation.Models.Country>

@{
    ViewData["Title"] = "Index";
}


<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Traversal Travel Category Bootstrap Responsive Template | Home :: W3layouts</title>
    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link href="//fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap"
          rel="stylesheet">
    <!-- google fonts -->
    <!-- Template CSS -->
    <link rel="stylesheet" href="assets/css/style-starter.css">
    <!-- Template CSS -->
</head>

<body>
    <!--header-->
    <!-- //header -->
    <!--banner-slider-->
    <!-- main-slider -->
    <!-- /main-slider -->
    <!-- //banner-slider-->
    <!--/grids-->
    <section class="w3l-grids-3 py-5">
        <div class="container py-md-5">
            <div class="title-content text-left mb-lg-5 mb-4">
                <h6 class="sub-title">Odwiedź</h6>
                <h3 class="hny-title">Popularne miejsca docelowe</h3>
            </div>
            <div class="row bottom-ab-grids">
                <!--/row-grids-->
                <div class="col-lg-6 subject-card mt-lg-0 mt-4">
                    <div class="subject-card-header p-4">
                        <a href="#" class="card_title p-lg-4d-block">
                            <div class="row align-items-center">
                                <div class="col-sm-5 subject-img">
                                    <a href="@Url.Action("Details", "Cities")/4">
                                        <img src="~/lib/assets/images/g1.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                                    <h4>Paris</h4>
                                    <div class="dst-btm">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 subject-card mt-lg-0 mt-4">
                    <div class="subject-card-header p-4">
                        <a href="#" class="card_title p-lg-4d-block">
                            <div class="row align-items-center">
                                <div class="col-sm-5 subject-img">
                                    <a href="@Url.Action("Details", "Cities")/9">
                                        <img src="~/lib/assets/images//g2.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                                    <h4>Bangkok</h4>
                                    <div class="dst-btm">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--//row-grids-->
                <!--/row-grids-->
                <div class="col-lg-6 subject-card mt-4">
                    <div class="subject-card-header p-4">
                        <a href="#" class="card_title p-lg-4d-block">
                            <div class="row align-items-center">
                                <div class="col-sm-5 subject-img">
                                    <a href="@Url.Action("Details", "Countries")/27">
                                        <img src="~/lib/assets/images/g3.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                                    <h4>Maldives</h4>
                                    <div class="dst-btm">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 subject-card mt-4">
                    <div class="subject-card-header p-4">
                        <a href="#" class="card_title p-lg-4d-block">
                            <div class="row align-items-center">
                                <div class="col-sm-5 subject-img">
                                    <a href="@Url.Action("Details", "Countries")/19">
                                        <img src="~/lib/assets/images/g4.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                                    <h4>Greece</h4>
                                    <div class="dst-btm">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--//row-grids-->
                <!--/row-grids-->
                <div class="col-lg-6 subject-card mt-4">
                    <div class="subject-card-header p-4">
                        <a href="#" class="card_title p-lg-4d-block">
                            <div class="row align-items-center">
                                <div class="col-sm-5 subject-img">
                                    <a href="@Url.Action("Details", "Cities")/5">
                                        <img src="~/lib/assets/images/g5.jpg" class="img-fluid" alt="">
</div>
                                <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                                    <h4>London</h4>
                                    <div class="dst-btm">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 subject-card mt-4">
                    <div class="subject-card-header p-4">
                        <a href="#" class="card_title p-lg-4d-block">
                            <div class="row align-items-center">
                                <div class="col-sm-5 subject-img">
                                    <a href="@Url.Action("Details", "Attractions")/11">
                                        <img src="~/lib/assets/images/g6.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                                    <h4>Julian Alps</h4>
                                    <div class="dst-btm">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--//row-grids-->
                <!--/row-grids-->
                <div class="col-lg-6 subject-card mt-4">
                    <div class="subject-card-header p-4">
                        <a href="#" class="card_title p-lg-4d-block">
                            <div class="row align-items-center">
                                <div class="col-sm-5 subject-img">
                                    <a href="@Url.Action("Details", "Countries")/18">
                                        <img src="~/lib/assets/images/g7.jpg" class="img-fluid" alt="">
</div>
                                <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                                    <h4>Thailand</h4>
                                    <div class="dst-btm">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 subject-card mt-4">
                    <div class="subject-card-header p-4">
                        <a href="#" class="card_title p-lg-4d-block">
                            <div class="row align-items-center">
                                <div class="col-sm-5 subject-img">
                                    <a href="@Url.Action("Details", "Countries")/21">
                                        <img src="~/lib/assets/images/g8.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="col-sm-7 subject-content mt-sm-0 mt-4">
                                    <h4>Singapore</h4>
                                    <div class="dst-btm">
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!--//row-grids-->
            </div>
        </div>
    </section>
    <!--//grids-->
    <!-- stats -->
    
    <!-- //stats -->
    <!--/-->
    <div class="best-rooms py-5">
        <div class="container py-md-5">
            <div class="ban-content-inf row">
                <div class="maghny-gd-1 col-lg-6">
                    <div class="maghny-grid">
                        <figure class="effect-lily border-radius  m-0">
                            <img class="img-fluid" src="~/lib/assets/images/g10.jpg" alt="" />
                            <figcaption>
                                <div>
                                    <h4>3Days, 4 Nights</h4>
                                    <p>From 1720$ </p>
                                </div>

                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="maghny-gd-1 col-lg-6 mt-lg-0 mt-4">
                    <div class="row">
                        <div class="maghny-gd-1 col-6">
                            <div class="maghny-grid">
                                <figure class="effect-lily border-radius">
                                    <img class="img-fluid" src="~/lib/assets/images/g9.jpg" alt="" />
                                    <figcaption>
                                        <div>
                                            <h4>3Days, 4 Nights</h4>
                                            <p>From 1220$ </p>
                                        </div>

                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="maghny-gd-1 col-6">
                            <div class="maghny-grid">
                                <figure class="effect-lily border-radius">
                                    <img class="img-fluid" src="~/lib/assets/images/g8.jpg" alt="" />
                                    <figcaption>
                                        <div>
                                            <h4>3Days, 4 Nights</h4>
                                            <p>From 1620$ </p>
                                        </div>

                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="maghny-gd-1 col-6 mt-4">
                            <div class="maghny-grid">
                                <figure class="effect-lily border-radius">
                                    <img class="img-fluid" src="~/lib/assets/images/g7.jpg" alt="" />
                                    <figcaption>
                                        <div>
                                            <h4>3Days, 4 Nights</h4>
                                            <p>From 1820$ </p>
                                        </div>

                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                        <div class="maghny-gd-1 col-6 mt-4">
                            <div class="maghny-grid">
                                <figure class="effect-lily border-radius">
                                    <img class="img-fluid" src="~/lib/assets/images/g6.jpg" alt="" />
                                    <figcaption>
                                        <div>
                                            <h4>3Days, 4 Nights</h4>
                                            <p>From 1520$ </p>
                                        </div>

                                    </figcaption>
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- //stats -->
    <!--/w3l-bottom-->
        
    <!--//w3l-bottom-->
    <!-- testimonials -->
    <section class="w3l-clients" id="clients">
        <!-- /grids -->
        <div class="cusrtomer-layout py-5">
            <!-- /grids -->
        </div>
        <!-- //grids -->
    </section>
    <!-- //testimonials -->
    <!--/w3l-footer-29-main-->
    <footer>
        <!-- footer -->
        <section class="w3l-footer">

            <!-- move top -->
            <button onclick="topFunction()" id="movetop" title="Go to top">
                <span class="fa fa-angle-up"></span>
            </button>
            <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function () {
          scrollFunction()
        };

        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("movetop").style.display = "block";
          } else {
            document.getElementById("movetop").style.display = "none";
          }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
            </script>
            <!-- //move top -->
            <script>
        $(function () {
          $('.navbar-toggler').click(function () {
            $('body').toggleClass('noscroll');
          })
        });
            </script>
        </section>
        <!-- //footer -->
    </footer>
    <!-- Template JavaScript -->
    <script src="assets/js/jquery-3.3.1.min.js"></script>
    <script src="assets/js/theme-change.js"></script>
    <!--/slider-js-->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/modernizr-2.6.2.min.js"></script>
    <script src="assets/js/jquery.zoomslider.min.js"></script>
    <!--//slider-js-->
    <script src="assets/js/owl.carousel.js"></script>
    <!-- script for tesimonials carousel slider -->
    <script>
    $(document).ready(function () {
      $("#owl-demo1").owlCarousel({
        loop: true,
        margin: 20,
        nav: false,
        responsiveClass: true,
        responsive: {
          0: {
            items: 1,
            nav: false
          },
          736: {
            items: 1,
            nav: false
          },
          1000: {
            items: 1,
            nav: false,
            loop: true
          }
        }
      })
    })
    </script>
    <!-- //script for tesimonials carousel slider -->
    <!-- stats number counter-->
    <script src="assets/js/jquery.waypoints.min.js"></script>
    <script src="assets/js/jquery.countup.js"></script>
    <script>
    $('.counter').countUp();
    </script>
    <!-- //stats number counter -->
    <!--/MENU-JS-->
    <script>
    $(window).on("scroll", function () {
      var scroll = $(window).scrollTop();

      if (scroll >= 80) {
        $("#site-header").addClass("nav-fixed");
      } else {
        $("#site-header").removeClass("nav-fixed");
      }
    });

    //Main navigation Active Class Add Remove
    $(".navbar-toggler").on("click", function () {
      $("header").toggleClass("active");
    });
    $(document).on("ready", function () {
      if ($(window).width() > 991) {
        $("header").removeClass("active");
      }
      $(window).on("resize", function () {
        if ($(window).width() > 991) {
          $("header").removeClass("active");
        }
      });
    });
    </script>
    <!--//MENU-JS-->

    <script src="assets/js/bootstrap.min.js"></script>

</body>

</html>