@model TouristInformationWebApp.Models.Reservation

@{
    ViewData["Title"] = "Details";
}

<h1>Szczegóły</h1>

<div>
    <h4>Rezerwacji</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
             <label>Id Użytkownika</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt class = "col-sm-2">
             <label>Liczba miejsc</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumOfSeats)
        </dd>
        <dt class = "col-sm-2">
             <label>Wycieczka</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tour.Description)
        </dd>
        <dt class = "col-sm-2">
             <label>Data</label>
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edytuj</a> |
    <a asp-action="Index">Powrót do listy</a>
</div>
