@model IEnumerable<TouristInformationWebApp.Models.Reservation>

@{
    ViewData["Title"] = "Index";
}





<p>
    <a asp-action="Create">Dodaj nową rezerwacje</a>
</p>

@if (TempData["Message"] != null)
{
    <div class="alert alert-success">
        <p><strong>Status rezerwacji:</strong>
            @if (TempData != null)
            {
                @TempData["Message"].ToString()
            }
        </p>
    </div>
}
<table class="table">
    <thead>
        <tr>
            <th>
                 <label>Id Użytkownika</label>
            </th>
            <th>
                 <label>Liczba miejsc</label>
            </th>
            <th>
                 <label>Wycieczka</label>
            </th>
            <th>
                 <label>Data</label>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumOfSeats)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tour.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Szczegóły</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
